- @title = "Hire | DLP"
.section-colored
  .container
    .row
      .col-xs-12
        %h1.text-center Hire A Worker
.section
  .container
    .row
      .col-xs-12
        .col-xs-6.col-xs-offset-3
          = render 'form'
        .col-xs-12
          %p Or You can also hire by calling(415)252-5375.
          %br
          %p If you call during office hours we can dispatch a worker with as little as an hours' notice. Workers are available 7 days a week, at all hours.