#myCarousel.carousel.slide
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  / Wrapper for slides
  .carousel-inner
    .item.active
      .fill{style: "background-image:url('http://placehold.it/1900x1080&text=Slide One');"}
      .carousel-caption
        %h1 Modern Business - A Bootstrap 3 Template
    .item
      .fill{style: "background-image:url('http://placehold.it/1900x1080&text=Slide Two');"}
      .carousel-caption
        %h1 Ready to Style & Add Content
    .item
      .fill{style: "background-image:url('http://placehold.it/1900x1080&text=Slide Three');"}
      .carousel-caption
        %h1
          Additional Layout Options at
          %a{href: "http://startbootstrap.com"} http://startbootstrap.com
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", href: "#myCarousel"}
    %span.icon-prev
  %a.right.carousel-control{"data-slide" => "next", href: "#myCarousel"}
    %span.icon-next
.section
  .container
    .row
      .col-lg-4.col-md-4
        %h3
          %i.fa.fa-check-circle
          Experienced
        %p
          We pride ourselves on having hard-working, reliable workers. Our members have experience as movers, painters, gardeners, construction workers, plumbers, busboys, waiters, set-up workers for events, janitors, and more!
      .col-lg-4.col-md-4
        %h3
          %i.fa.fa-pencil
          Convienient
        %p
          We help by dispatching the worker with relative experience to you. Call us so we can talk about the type of work you want done. Or head over to the
          = link_to 'hire', hire_path
          page.
      .col-lg-4.col-md-4
        %h3
          %i.fa.fa-folder-open
          Reasonable
        %p The rate for general labor is $50 the first three hours and $15 every hour after. The rate for a worker with tools and/or truck depends on the job. In these cases, we can send a worker to do an estimate.

.section-colored.text-center
  .container
    .row
      .col-lg-12
        %h2 We are a worker-lead nonprofit committed to improving your life <br>and the life of our members.

        %hr

.section
  .container
    .row
      .col-lg-12.text-center
        %h2 Our Work, Our Pride
        %hr/
      .col-lg-4.col-md-4.col-sm-6
        %a{href: "portfolio-item.html"}
          %img.img-responsive.img-home-portfolio{src: "http://placehold.it/700x450"}
      .col-lg-4.col-md-4.col-sm-6
        %a{href: "portfolio-item.html"}
          %img.img-responsive.img-home-portfolio{src: "http://placehold.it/700x450"}
      .col-lg-4.col-md-4.col-sm-6
        %a{href: "portfolio-item.html"}
          %img.img-responsive.img-home-portfolio{src: "http://placehold.it/700x450"}

.section-colored
  .container
    .row
      .col-lg-6.col-md-6.col-sm-6
        %p.lead{style:"margin-top:20%;"} "Just wanted to let you know how happy I was with your amazing service yesterday. The two day laborers arrived early, and were so professional and fun to work with. We all had a great day."
        %p.pull-right - Joanne
      .col-lg-6.col-md-6.col-sm-6
        %img.img-responsive{src: "http://placehold.it/700x450/ffffff/cccccc"}/

.section
  .container
    .row
      .col-lg-6.col-md-6.col-sm-6
        %img.img-responsive{src: "http://placehold.it/700x450"}/
      .col-lg-6.col-md-6.col-sm-6
        %p.lead{style:"margin-top:20%;"} "The two workers did an awesome job! Really, really lovely. They helped me move and even finished in two hours a job that would normally take three!"
        %p.pull-right - Brian

.container
  .row
    .col-lg-12.col-md-4.text-center
      = link_to "Take me to hire!", hire_path, :class => "btn btn-lg btn-primary"